@media only screen and (max-width: 300px){
    nav{
        width: 2rem;
        overflow: hidden;
    }

    .container {
        width: calc( 100% - 2rem );
    }

    .delete{
        visibility: hidden;
    }

}