@media only screen and (max-width: 768px){

    .compilation {
        flex-wrap: wrap;
    }

    .descri i {
        display: block;
    }

    .descri h3,
    .descri h4 {
        font-size: 0.5em;
    }
    
    .volum input {
        width: 50%;
    }
}