/****************/
/* common parts */
/****************/

*{
    margin: 0;
}

.icona {
    width: 1rem;
}

.flex {
    display: flex;
}

body{
    display: flex;
    flex-wrap: wrap;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;

}

li {
    margin: 0;
    padding: 0;
    list-style: none;

    padding-left: 10px;
}

hr{
    font-size:0.5rem;
    margin-bottom: 0.5rem;
    margin-top: .5rem;
}

a:hover {
    color: lightslategrey;
}

/*******************/
/* layout structure*/
/*******************/

nav{
    display: flex;
    flex-direction: column;
    width: 15rem;
    background-color: black;
    color: white;
    height: 100vh
}

.container {
    flex:1 1 0;
    background-color: antiquewhite;
    height: 100vh;
    overflow: hidden;
}

footer{
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: #282828 ;
    z-index: 1;
    align-items: center;
}

/*******************/
/*   layout main   */
/*******************/

header {
    width: 100%;
    height: 5rem;
    background-color: #080b12;
    display: flex;
    justify-content: end;
    align-items: center;
}

main {
    width: 100%;
    background-color: #141922;
    overflow: auto;
    height:100%;
}

/******************/
/* header to main */
/*******************/

#btn1 {
    color: white;
    text-decoration: none;
    border-radius: 25px;
    border: 1px solid white;
    padding: 0.5em;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    z-index: 2;
}

#btn1:hover{
    font-size: 1.2em;
}

/****************/
/* nav left     */
/****************/

.logo-big {
    width: 150px;
    margin-left: 10px;
}


nav li {
    margin-top: 0.5rem;
}

nav section {
    margin-top: 1rem;
    margin-left: 10px;
}

.delete {
    flex-basis: 62%;
    overflow: auto;
    flex-shrink: 1;
}

.delete i {
    font-size: 2em;
    vertical-align: middle;
}

.margin-top {
    margin-top: 2rem;
}

nav a{
    color: #6b6b6b;
    text-decoration: none;
}

#lef-gray {
    border-left:2px solid #96dd28 ;
}

#acaunt i{
    font-size: 0.8em;
    margin-right: 10px ;
}

#profile {
    width: 1rem;
    background-color:#808080 ;
    border-radius: 50%;
    position: relative;
    top: 3px;
}

strong {
    color: white;
}

#acaunt {
    margin-bottom: 80px;
    justify-self: flex-end;
    flex-shrink: 0;
}

.logo-piccolo {
    display: none;
}


/****************/
/*     main     */
/****************/

.compilation {
    width: 100%;
}

.card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex: 1 1 0;
}

.card {
    display: flex;
    flex-direction: column;
    max-width: 250px;
    flex: 1 1 200px;
    margin: 0.5vw 0.5vh;
    padding: 0;
    height: 23rem;
}

.img-container {
    flex: 1 1 0;
    max-height: 70% ;
}

.ghost {
    position: relative;
    opacity: 0;
    width: 100%;
    height:100% ;
    top: -100% ;
}

.riproduci {
    position: absolute;
    top:50%;
    left:50%; 
    transform: translate( -50%, -50% );
    font-size: 4rem;
    color: white;
}

.card:hover .ghost{
    opacity: 1;
}

.card:hover img{
    filter: grayscale(100%);
}

.card img {
    width: 100%;
}

.voci-correlate li{
    flex-shrink: 0;
}

.voci-correlate{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

main li{
    margin-top: 0.5rem;
    display: inline-block;
    text-align: center;
}

main a {
    color: #6b6b6b;
    text-decoration: none;
    padding: 0.5em;
}

a em {
    margin-bottom: 0.5rem;
    border-bottom: 2px solid #96dd28 ;
}

main h1,
main h2,
main h3 {
    color:white;
}

main h4{
    color: #808080;
}
/****************/
/*   footer     */
/****************/

.honor:hover{
    color: white;
} 

.sottolineato{
    text-decoration: none;
}

.sottolineato:hover {
    color: white;
    text-decoration: underline;
}

.descri i {
    padding-right: 10px;
}

.descri {
    flex-basis: 240px;
    height: 3rem;
    color: #6b6b6b;
}

.media {
    flex-basis:960px;
    height: 3rem;
}

.volum {
    flex-basis: 480px;
    height: 3rem;
}

#lover {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 0;
    justify-content: end;
}

h4 {
    color: #808080;
}

.descri h4 {
    font-size: .5rem;
}

.descri h3 {
    font-size: .5rem;
    color: white;
}

footer li{
    display: inline-block;
}

footer img{
    width: 50px;
}

footer ul {
    display: flex;
    align-items: center;
    width: 100%;
}

.descri ul{
    justify-content: flex-start;
    align-items: center;
}

.media ul {
    justify-content: center;
}

.volum ul{
    justify-content: flex-end;
    height: 100%;
}

.timeline{
    width: 100%;
    text-align: center;
    color: white;
}

.play {
    font-size: 2em;
}

.media a,
.volum a {
    padding: 5px;
}

.media i:hover,
.volum i:hover {
    color: #96dd28;
}

footer a {
    color: white;
}

.time-line {
    display: inline-block;
    width: 60%;
    min-width: 50px;
    background-color: #5a5a5a  ;
    height: 8px;
    border-radius: 10px;
}

.circle {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 25%;
    height: 100%;
    border-radius: 10px;
    background-color: #c1c1c1;
}

.timeline:hover .circle{
    background-color: #96dd28;
}

.volume{
    width: 50%;
}

.minicircle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
    background-color: #96dd28;
    opacity: 0;

}

.timeline:hover .minicircle {
    opacity: 1;
}



/****************/
/*    media     */
/****************/


@media only screen and (max-width: 1000px){
    .descri i {
        display: block;
    }

    .descri h3,
    .descri h4 {
        font-size: 0.5em;
    }
    
    .volum input {
        width: 50%;
    }
}

@media only screen and (max-width: 650px){
    nav{
        width: 3rem;
        overflow: hidden;
    }

    .logo-piccolo {
        display: inline-block;
        width: 2rem;
        margin-top: 10px;
        margin-left: 10px;
    }

    .log {
        width: 20px;
    }
    
    .icona {
        width: 2rem;
    }

    .logo-big {
        display: none;
    }

    #lef-gray {
        border-left: 0;
    }

    nav section{
        margin-left: 0;
        margin-top: 0;
    }

    .container {
        width: calc( 100% - 3rem );
    }

    .delete{
        visibility: hidden;
    }

    #acaunt i{
        margin-left: 10px;
    }

    nav span{
        display: none;
    }

    nav hr{
        visibility: hidden;
    }

    #acaunt {
        justify-self: center;
        text-align: center;
    }

    .container li{ 
        flex-basis: 40vw;
        min-width: 10rem;
    }

    .upline{
        min-width: 180px;
    }

    .timeline span{
        display: none;
    }

    .tit {
        display: none;
    }
}